*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            
            
        }
        header{
            background-color: #6b8e23;
        }
        li{
            list-style: none;
        }
        a{
            color: #fff;
            text-decoration:unset;
        }
        body{
            padding-bottom: 100px;
            background-image: url('../img/Capturar.jpeg');
            background: linear-gradient(to right,#deea94,#ffff80,#ffffe0);
        }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color:#6b8e23;
            width: 100%;
            color: whitesmoke;
            text-align: center;
            padding: 16px;
            display: block;

        }
        .navbar{
            min-height:70px;
            display:flex;
            align-items: center;
            justify-content:space-between;
            padding: 0 34px;
        }
        .logo{
            font-size:2rem;
            font-weight: bolder;
        }
        .menu{
            diplay:flex;
            align-items: center;
            gap: 60px;   
        }
        .link{
            transition: 0.5s ease;
        }
        .link:hover {
            color: darkgoldenrod;
        }
        .ervas{
            display:none;
            cursor: pointer;
        }
        .bar{
            display:block;
            width: 20px;
            height: 3px;
            border-radius: 2px;
            margin: 5px auto;
            background-color: #fff;
            transition: all 0.3s ease-in-out;
        }
        @media(max-width:768px){
            .ervas{
                display: block;
            }
        }
        .container{
            width: 90%;
            margin:50px auto;
            
        }
        .heading{
            text-align: center;
            font-size: 30px;
            margin-bottom: 50px;


        }
        .row{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;

        }
        .card{
            width:20%;
            background: #fff;
            border:1px solid #ccc;
            margin-bottom: 50px;
            transition: 0.3s;
        }
        .card-header{
            text-align: center;
            padding: 50px 10px;
            background: linear-gradient(to right,#6b8e23,#228b22);
            color: #fff;

        }
        .card-image{
            background-color: #2e8b57;
            height: 250px;
            margin-bottom: 0px
            background-size:cover;        
        }
        .plan-1{
            background-image: url('../img/plan1.jpg');
            border-radius: 15px;
        }
        .plan-2{
            background-image: url('../img/plan2.jpg');
            border-radius: 15px;
        }
        .plan-3{
            background-image: url('../img/plan3.jpg');
            border-radius: 15px;
        }
        .plan-4{
            background-image: url('../img/plan4.jpg');
            border-radius: 15px;
        }
        .plan-5{
            background-image: url('../img/plan5.jpg');
            border-radius: 15px;
        }
        .plan-6{
            background-image: url('../img/plan6.jpg');
            border-radius: 15px;
        }
        .plan-7{
            background-image: url('../img/plan7.jpg');
            border-radius: 15px;
        }
        .plan-8{
            background-image: url('../img/plan8.jpg');
            border-radius: 15px;
        }
        .plan-9{
            background-image: url('../img/plan9.jpg');
            border-radius: 15px;
        }
        .plan-10{
            background-image: url('../img/plan10.jpg');
            border-radius: 15px;
        }
        .card-body{
            padding: 30px 20px;
            text-align: center;
            font-size: 18px;
        }
        .card-body.input{
            display:block;
            color:#fff;
            text-align: center;
            background: linear-gradient(to right,#ff416c,#deea94,#ff4b2b);
            margin-top: 30px;
            text-decoration: none;
            padding: 10px 50px;
        }
        .card:hover{
            transform: scale(1.05);
            box-shadow:0 0 40px -10px rgba(0, 0, 0, 0.25);
        }
        @media screen and (max-width:1000px){
            .card{
                width:40%;
            }
        }
        @media screen and (max-width:620px){

            .container{
                width:40%;
            }
            .heading{
                padding: 20px;
                font-size:20px;
            } 
            .card{
                width:80%;
            }
        }
        
